.end-screen {
  font-family: monospace;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.end-screen__inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.99);
  display: flex;
  justify-content: center;
}

.end-screen__inner-content {
  color: white;
  font-size: 2em;
}

.end-screen__menu {
  padding: 10px;
}

.end-screen__menu-button {
  font-family: monospace;
  border: 2px solid #f44336;
  background-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.2s;
  margin: 10px;
}

.end-screen__menu-button:hover {
  background-color: #f44336;
}

.end-screen__menu-button--green {
  border: 2px solid lawngreen;
}

.end-screen__menu-button--green:hover {
  background-color: lawngreen;
}
