.word-container-wrapper {
  display: flex;
  max-width: 100vw;
}

.word-container {
  display: flex;
  font-size: 3em;
  color: white;
  justify-content: center;
}

.word-container__completed-words {
  justify-content: flex-end;
}

.word-container__current-word {
  text-decoration: underline;
}

.word-container__incoming-words {
  overflow: hidden;
  justify-content: flex-start;
}

.word {
  display: inline;
  flex: 0 0 30px;
  margin-right: 1rem;
}

.word__current-target {
  color: #fff;
}

.word__current-target--incorrect {
  color: orange;
  text-decoration: line-through;
}

.word--correct {
  color: lightgray;
}

.word--incorrect {
  color: lightgray;
  text-decoration: line-through;
}

.input-field {
  background: transparent;
  color: #fff;
  font-size: 3em;
  outline: none;
  caret-color: #fff;
  border: none;
}

::placeholder {
  color: white;
  opacity: 0.5;
}
