.wpm-status-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.wpm-status-display {
  display: flex;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
  width: fit-content;
  height: auto;
  flex-direction: column;
  font-family: monospace;
}

.wpm-status-display__header {
  font-size: 2rem;
}
